<h3><i class="fas fa-newspaper"></i> Blog Articles</h3>
<div class="section" >
    
    <p class="lead">Create your blog articles today</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn pink darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
<footer class="foot">
  <p>Blog Article, Copyright &copy; 2020</p>
 </footer>
